default_language_version:
  node: system
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.20
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      {% if package_manager == "poetry" -%}
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        language: system
        entry: poetry lock
        pass_filenames: false
        files: ^pyproject.toml$
      {%- elif package_manager == "uv" -%}
      - id: uv-lock-check
        name: uv-lock-check
        language: system
        entry: uv lock --check
        pass_filenames: false
      - id: uv-lock
        name: uv-lock
        language: system
        entry: uv lock
        pass_filenames: false
        files: ^pyproject.toml$
      {%- elif package_manager == "pipenv" -%}
      - id: pipenv-verify
        name: pipenv-verify
        language: system
        entry: pipenv verify
        pass_filenames: false
      - id: pipenv-lock
        name: pipenv-lock
        language: system
        entry: pipenv lock
        pass_filenames: false
        files: ^Pipfile$
      {%- endif %}
      - id: mypy
        name: mypy
        language: system
        entry: make mypy
        pass_filenames: false
