[tool.poetry]
name = "{{ repository_name }}"
version = "0.1.0"
description = "{{ repository_description }}"
authors = ["{{ repository_owner }}"]
license = "MIT"
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
# :TODO: Remove pylint when ruff supports all pylint rules
# :TODO: Remove black when ruff supports all black rules
copier = "^9.16.0"
pylint = "^4.0.6"
black = "^26.5.1"
pytest = "^9.1.1"
pytest-xdist = "^3.8.0"
ruff = "^0.15.20"
pytest-cov = "^7.1.0"
mypy = "^2.1.0"
