[project]
name = "{{ repository_name }}"
version = "0.1.0"
description = "{{ repository_description }}"
readme = "README.md"
license = "MIT"
authors = [{ name = "{{ repository_owner }}" }]
requires-python = ">=3.11"
dependencies = []

[tool.uv]
package = false

[dependency-groups]
# :TODO: Remove pylint when ruff supports all pylint rules
dev = [
    "mypy>=2.3.0",
    "pre-commit>=4.6.0",
    "pylint>=4.0.6",
    "pytest>=9.1.1",
    "pytest-cov>=7.1.0",
    "pytest-xdist>=3.8.0",
    "ruff>=0.15.21",
]
