[project]
name = "{{ repository_name }}"
version = "0.1.0"
description = "{{ repository_description }}"
readme = "README.md"
license = "MIT"
authors = [{ name = "{{ repository_owner }}" }]
requires-python = ">=3.11"
dynamic = ["dependencies"]

[tool.poetry]
package-mode = false

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.group.dev.dependencies]
# :TODO: Remove pylint when ruff supports all pylint rules
pylint = "^4.0.6"
pytest = "^9.1.1"
pytest-xdist = "^3.8.0"
ruff = "^0.15.21"
pytest-cov = "^7.1.0"
mypy = "^2.3.0"
pre-commit = "^4.6.0"
