[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
# :TODO: Remove pylint when ruff supports all pylint rules
pylint = "*"
pytest = "*"
pytest-xdist = "*"
ruff = "*"
pytest-cov = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
