[tool.poetry]
name = "{{ repository_name }}"
version = "0.1.0"
description = "{{ repository_description }}"
authors = ["{{ repository_owner }}"]
license = "MIT"
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
# :TODO: Remove pylint when ruff supports all pylint rules
# :TODO: Remove black when ruff supports all black rules
copier = "^9.10.2"
pylint = "^3.3.8"
black = "^25.9.0"
pytest = "^8.4.2"
pytest-xdist = "^3.8.0"
ruff = "^0.13.1"
pytest-cov = "^7.0.0"
mypy = "^1.18.2"
