[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
# :TODO: Remove pylint when ruff supports all pylint rules
# :TODO: Remove black when ruff supports all black rules
pylint = "*"
black = "*"
pytest = "*"
pytest-xdist = "*"
ruff = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
