---
name: CI

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  {% raw -%}
  group: "${{ github.head_ref || github.ref }}-${{ github.workflow }}"
  {%- endraw %}
  cancel-in-progress: true

jobs:
  lint-test:
    name: Lint and Test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@df4cb1c069e1874edd31b4311f1884172cec0e10 # v6.0.3
        with:
          persist-credentials: false
      {%- if package_manager == 'poetry' %}
      - name: Install Poetry
        run: pipx install poetry==2.4.1
      {%- endif %}

      - name: Set up Python
        uses: actions/setup-python@ece7cb06caefa5fff74198d8649806c4678c61a1 # v6.3.0
        with:
          python-version-file: .python-version
      {%- if package_manager != 'uv' %}
          cache: {{ package_manager }}
      {%- endif %}
      {%- if package_manager == 'pipenv' %}

      - name: Install Pipenv
        run: pipx install pipenv==2023.12.1
      {%- elif package_manager == 'uv' %}

      - name: Install uv
        run: pipx install uv==0.11.26
      {%- endif %}

      - name: Install dependencies
        run: make install-dev

      - name: Lint Python
        run: make lint

      - name: Test
        run: make test
