---
name: CI

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  {% raw -%}
  group: "${{ github.head_ref || github.ref }}-${{ github.workflow }}"
  {%- endraw %}
  cancel-in-progress: true

jobs:
  lint-test:
    name: Lint and Test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      {%- if package_manager == 'poetry' %}
      - name: Install Poetry
        run: pipx install poetry==1.7.1
      {%- endif %}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          cache: {{ package_manager }}
      {%- if package_manager == 'pipenv' %}

      - name: Install Pipenv
        run: pipx install pipenv==2023.12.1
      {%- endif %}

      - name: Install dependencies
        run: make install-dev

      - name: Lint Python
        run: make lint

      - name: Test
        run: make test
